.animatedcard {
  width: 22ch;
  height: 32ex;
  background: white;
  border-radius: 5px;
  box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.5s;
  will-change: transform;
  border: 15px solid white;
  margin-bottom: 20px;
}

.animatedcard:hover {
  box-shadow: 0px 30px 100px -10px rgba(0, 0, 0, 0.4);
}
