.taskcard {
  box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.3);
  max-width: 40ch;
  min-height: 35ex;
  margin: 10px;
}

.card-subtitle {
  margin-top: 10px !important;
  margin-bottom: 15px !important;
}

.cfright {
  text-align: right !important;
  margin-right: -20px;
}

.cfleft {
  text-align: left !important;
  margin-left: -20px;
  margin-right: -20px;
}

.fa-trash-alt {
  font-size: 1.3rem;
}

.fa-check-square {
  font-size: 1.3rem;
}

.rightBtn {
    text-align: right !important;
}

.leftBtn {
    text-align: left !important;
}

.deleteBtn{
  color: rgb(173, 2, 2) !important;
}

.deleteBtn:hover{
  color: rgb(206, 3, 3) !important;
}

.completeBtn{
  color: forestgreen !important;
}

.completeBtn:hover{
  color: darkgreen !important;
}

.card-link {
  color: #0195b6;
}

.card-link:hover {
  color: #5cbed3
}

.fa-forward {
  font-size: 1rem;
}