.gettaskbtn {
  margin-top: 1rem;
  margin-bottom: 3rem;
  background-color: #0F8D35 !important;
  border-color: #0F8D35 !important;
  width: 235px;
  font-weight: bolder;
  float: right;
}

.headline {
  margin-top: 3rem;
}

.push {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.alltasksrow {
  background-color: #F0F8F9;
  padding: 3rem !important;
}
