.start {
  margin-bottom: 1rem;
  margin-top: 1rem;
  color: #143A49;
}

.hello {
  color: #0F8D35;
  font-weight: bolder;
}

.startbtn {
  margin-top: 1rem;
  background-color: #143A49 !important;
  border-color: #143A49 !important;
  width: 200px;
  font-weight: bolder;
}